 /*
  * #03312E - blackish
  * #037171 - dark greenish blue
  * #009F93 - medium greenish blue
  * #00B9AE - light greenish blue
  * #02C3BD - lightest greenish blue
  * #EDF2F4 - whiteish
  * #D90429 - redish
  */

 html {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

 *,
 *:before,
 *:after {
   -webkit-box-sizing: inherit;
   -moz-box-sizing: inherit;
   box-sizing: inherit;
 }

 .clearfix::after {
   content: "";
   clear: both;
   display: table;
 }

 body {
   background-color: #FFF;
   color: #03312E;
   font-size: 14px;
   font-family: "Roboto", sans-serif;
   line-height: 1.4;
 }

 .container {
   margin: 0 auto;
   padding: 0 10px;
 }

 .hidden {
   display: none !important;
 }