.header {
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #edf2f4;
  border-bottom: 1px solid #03312E;
  margin: 0 auto;
  padding: 0 10px;
}

.main-content {
  background-color: #02C3BD;
  padding-bottom: 2%;
  padding-top: 55px;
}

.logo {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: inline-block;
}

.logo a {
  color: #03312E;
  text-decoration: none;
}

.top-nav {
  float: right;
  height: 55px;
  padding-top: 12px;
}

.top-nav ul {
  display: none;
  list-style: none;
  background-color: inherit;
  color: #03312E;
  padding: 0;
  margin: 0;
}

.top-nav-items-mobile {
  background-color: #fff !important;
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 120px;
}

.top-nav ul a {
  display: block;
  color: #03312E;
  text-decoration: none;
  padding: 10px 20px;
  line-height: 20px;
}

.top-nav ul a:hover {
  background: #009F93;
  color: #EDF2F4;
}

.hamburger-menu {
  width: 40px;
}

.hamburger-menu div {
  height: 6px;
  background-color: #03312E;
  margin-bottom: 6px;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .top-nav {
    padding-top: 0;
  }
  
  .top-nav ul.top-nav-items {
    display: block;
  }

  .hamburger-menu {
    display: none;
  }

  .top-nav ul.top-nav-items-mobile {
    display: none;
  }
  
  .top-nav ul.top-nav-items li {
    display: inline-block;
    margin-top: 6px;
  }

  .top-nav ul.top-nav-items li a:hover {
    border-radius: 5px;
  }
}

.person-detail{
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, .8);
  position: fixed;
  top: 0;
  z-index: 2;
}

#person-detail{
  height: 75%;
  width: 75%;
  background: radial-gradient(ellipse at center, #d9d9d9 0%, #d1d1d1 47%, #adadad 100%);
  position: fixed;
  z-index: 3;
  top: 12.5%;
  right: 12.5%;
}

.person-detail img{
  margin: 5% 5% 0;
  max-height: 40%;
  max-width: 40%;
  float: left;
}

.connectify{
  margin: 0 10px;
  float: left;
  clear: both;
}

.person-detail table{
  display: block;
  height: 200px;
  overflow-y: scroll;
  margin: 0 10px;
  float: left;
  clear: both;
  text-align: center;
  background:  radial-gradient(ellipse at center, #333333 0%, #052e2c 79%, #052e2c 100%);
}

.person-detail tr{
  border: .5px solid #052e2c;
  color: #ccc;
}

.person-detail td{
  padding: 10px 5px;
  width: 33%;
}

.exit{
  text-decoration: none;
  color: black;
  padding: 1px 5px;
  margin-top: 5px;
  margin-right: 5px;
  float: right;
  background: rgba(0,0,0, .1);
  border: 1px solid rgba(0,0,0, .1);
  border-radius: 50%;
  transition: linear 200ms;
}

.exit:hover{
  background: black;
  color: #ccc;
}

.about-selector{
  text-align: center;
  align-content: center;
}

.about-selector img{
  display: inline;
  width: 100px;
  height: 100px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.about-selector img a{
  text-decoration: none;
  color: transparent;
}

.detail-view img{
  max-height: 40%;
  max-width: 40%;
}
