.header {
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #03312E;
  margin: 0 auto;
  padding: 0 10px;
}

.main-content {
  background-color: #02C3BD;
  padding-top: 55px;
}

.logo {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: inline-block;
}

.logo a {
  color: #03312E;
  text-decoration: none;
}

.top-nav {
  float: right;
  height: 55px;
  padding-top: 12px;
}

.top-nav-items {
  list-style: none;
  background-color: #fff;
  color: #03312E;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 120px;
}

.top-nav-items a {
  display: block;
  color: #03312E;
  text-decoration: none;
  padding: 10px 20px;
  line-height: 20px;
}

.top-nav-items a:hover {
  background: #009F93;
  color: #EDF2F4;
}

.hamburger-menu {
  width: 40px;
}

.hamburger-menu div {
  height: 6px;
  background-color: #03312E;
  margin-bottom: 6px;
  border-radius: 4px;
}

.detail-view{
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, .8);
  position: fixed;
  top: 0;
  z-index: 2;
}

#detail-overlay{
  height: 75%;
  width: 75%;
  background: radial-gradient(ellipse at center, #d9d9d9 0%, #d1d1d1 47%, #adadad 100%);
  position: fixed;
  z-index: 3;
  top: 12.5%;
  right: 12.5%;
}

.detail-view img{
  margin: 5% 5% 0;
  float: left;
}

.connectify{
  margin: 0 10px;
  float: left;
  clear: both;
}

.detail-view table{
  display: block;
  height: 200px;
  overflow-y: scroll;
  margin: 0 10px;
  float: left;
  clear: both;
  text-align: center;
  background:  radial-gradient(ellipse at center, #333333 0%, #052e2c 79%, #052e2c 100%);
}

.detail-view tr{
  border: .5px solid #052e2c;
  color: #ccc;
}

.detail-view td{
  padding: 10px 5px;
  width: 33%;
}

.exit{
  text-decoration: none;
  color: black;
  padding: 1px 5px;
  margin-top: 5px;
  margin-right: 5px;
  float: right;
  background: rgba(0,0,0, .1);
  border: 1px solid rgba(0,0,0, .1);
  border-radius: 50%;
  transition: linear 200ms;
}

.exit:hover{
  background: black;
  color: #ccc;
}