.filter-search {
  background-color: #EDF2F4;;
  padding: 1%;
}

.filter-search::after {
  content: "";
  clear: both;
  display: table;
}

.filter-search h3, .filter-search ul {
  margin: 0;
  padding: 0 1%;
}

.filters {
  float: left;
}

.filters h3, #filters {
  display: inline-block;
  list-style: none;
}

.search {
  float: right;
}

.employee {
  display: block;
  float: left;
  clear: none;
  width: 47%;
  height: 57vw;
  margin: 2% 0 0 2%;
  background: #fff;
  border: 1px solid #03312E;
  padding: 1%;
}

.employee-photo {
  width: 100%;
  height: 40vw;
  margin: 0 auto; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.employee figcaption {
  text-align: center;
  padding: 1%;
}

.employee h4, .employee p {
  margin: 0.5% 0;
}

.icon-links {
  margin-bottom: 0.5em;
}

.icon-links a{
  text-decoration: none;
  color: #03312E;
  font-size: 1.5em;
}

.detail-button a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  background-color: #02C3BD;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

@media screen and (min-width: 600px) {
  .employee {
    width: 31%;
    height: 44vw;
    margin: 1.75% 0 0 1.75%;
  }
  .main-content {
    padding-bottom: 1.75%;
  }
  .employee-photo {
    height: 30vw;
  }

  
}

@media screen and (min-width: 768px) {
  .employee {
    width: 23.125%;
    height: 31vw;
    margin: 1.5% 0 0 1.5%;
  }
  .main-content {
    padding-bottom: 1.5%;
  }
  .employee-photo {
    height: 20vw;
  }
}

@media screen and (min-width: 992px) {
  .filter-search {
    float: left;
    width: 23.4375%;
    margin: 1.25% 0 1.25% 1.25%;
  }

  .top-nav-items, .about-view, .error-view{
    margin-left: 23.4375%;
  }

  .filter-search{
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    margin: 0;
  }

  .filters {
    width: 100%;
  }
  .filters h3, #filters {
    display: block;
  }
  #filters select {
    width: 100%;
  }
  .search {
    float: none;
    width: 100%;
  }

  .about-selector img{
    display: block;
  }

  .employee-view {
    margin-left: 24.6875%
  }
  .employee {
    width: 31.33333%;
    height: 29vw;
    margin: 1.5% 0 0 1.5%
  }
  .main-content {
    padding-bottom: 1.25%;
  }
  .employee-photo {
    height: 20vw;
  }
}

@media screen and (min-width: 1200px) {
  .filter-search {
    width: 18.8%;
    margin: 0;
  }

  .top-nav-items, .about-view, .error-view{
    margin-left: 18.8%;
  }

  .employee-view {
    margin-left: 19.8%
  }
  .employee {
    width: 23.4375%;
    height: 23vw;
    margin: 1.25% 0 0 1.25%
  }
  .main-content {
    padding-bottom: 1%;
  }
  .employee-photo {
    height: 15vw;
  }
}

.about-view a {
  color: #fff;
}